nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin:10px;
}
nav a{
    text-decoration: none;
}
nav li:hover{
background-color: aquamarine;
}

.body{
  
    height:auto;
    weight:auto;

}
.body h1{
    text-decoration: underline;
    color: blueviolet;
    text-align: center;
}
.body button{
background-color: lightpink;
margin:10px;
padding:20px 60px;
}
.con {
    display: flex;
    background-color: aquamarine;
    border:5px solid blue;
    border-radius: 8px;
    margin:20px;
    padding:20px;
}
   
.con img{
    
    height:300px;
    weight:190px;
    border:2px solid black;
    border-radius: 9px;
    align-items: center;
    margin:50px;
    padding:29px;
}

